<div class = "ui-g">
    <h2 class="page-header no-mobile ui-g-12 ui-g-nopad">Leave summary</h2>
    <div class = "leave-chart-container ui-g-12 ui-lg-4 ui-xl-3 ui-g-nopad" *ngFor="let leaveBal of yearlyEntitlements">
          <leave-chart [leaveBal]="leaveBal" (click)="onClickLeaveChart(leaveBal)"></leave-chart>
    </div>
</div>

<p-dialog *ngIf="curLeaveBal" header="{{curLeaveBal.leaveType.description}}" [(visible)]="displayLeaveDialog" modal="modal"
          responsive="true">
    <table class="table">
        <tr>
            <th>Entitlement</th>
            <td>{{curLeaveBal.entitlement | number : '1.1-1'}}</td>
        </tr>
        <tr>
            <th>Current Balance</th>
            <td [ngClass]="{'text-danger' : curLeaveBal.currentLeaveBalance <= 0}">{{curLeaveBal.currentLeaveBalance |
                number : '1.1-1'}}
            </td>
        </tr>
        <tr>
            <th>Annual Balance</th>
            <td [ngClass]="{'text-danger' : curLeaveBal.yearlyLeaveBalance <= 0}">{{curLeaveBal.yearlyLeaveBalance |
                number : '1.1-1'}}
            </td>
        </tr>
    </table>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button *ngIf="curLeaveBal.yearlyLeaveBalance > 0" pButton type="button" (click)="applyLeave()"
                    label="Apply Leave"></button>
            <p *ngIf="curLeaveBal.yearlyLeaveBalance <= 0" class="text-danger">You are not allowed to apply for
                {{curLeaveBal.leaveType.description}}</p>
        </div>
    </footer>
</p-dialog>
